In [114]:
import pandas as pd

In [115]:
pokemons=pd.read_csv('Pokemon.csv', index_col='#')
pokemons

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [116]:
pokemons.info()

<class 'pandas.core.frame.DataFrame'>
Index: 800 entries, 1 to 721
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        800 non-null    object
 1   Type 1      800 non-null    object
 2   Type 2      414 non-null    object
 3   Total       800 non-null    int64
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 75.8+ KB

In [117]:
pokemons.describe().round()

       Total     HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Generation
count  800.0  800.0   800.0    800.0    800.0    800.0  800.0       800.0
mean   435.0   69.0    79.0     74.0     73.0     72.0   68.0         3.0
std    120.0   26.0    32.0     31.0     33.0     28.0   29.0         2.0
min    180.0    1.0     5.0      5.0     10.0     20.0    5.0         1.0
25%    330.0   50.0    55.0     50.0     50.0     50.0   45.0         2.0
50%    450.0   65.0    75.0     70.0     65.0     70.0   65.0         3.0
75%    515.0   80.0   100.0     90.0     95.0     90.0   90.0         5.0
max    780.0  255.0   190.0    230.0    194.0    230.0  180.0         6.0

In [118]:
pokemons.describe(exclude=['int','float'])

             Name Type 1  Type 2 Legendary
count         800    800     414       800
unique        800     18      18         2
top     Bulbasaur  Water  Flying     False
freq            1    112      97       735

In [119]:
pokemons.loc[pokemons['Name'] == 'Pikachu']

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False

In [120]:
speed = pokemons['Speed'] > 100
legandary = pokemons['Legendary'] == True 
pokemons[legandary & speed]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True
243,Raikou,Electric,NaN,580,90,85,75,115,100,115,2,True
249,Lugia,Psychic,Flying,680,106,90,130,90,154,110,2,True
380,Latias,Dragon,Psychic,600,80,80,90,110,130,110,3,True
380,LatiasMega Latias,Dragon,Psychic,700,80,100,120,140,150,110,3,True
381,Latios,Dragon,Psychic,600,80,90,80,130,110,110,3,True
381,LatiosMega Latios,Dragon,Psychic,700,80,130,100,160,120,110,3,True
384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True
386,DeoxysNormal Forme,Psychic,NaN,600,50,150,50,150,50,150,3,True
386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True
386,DeoxysSpeed Forme,Psychic,NaN,600,50,95,90,95,90,180,3,True
482,Azelf,Psychic,NaN,580,75,125,70,125,70,115,4,True
491,Darkrai,Dark,NaN,600,70,90,90,135,90,125,4,True
492,ShayminSky Forme,Grass,Flying,600,100,103,75,120,75,127,4,True
493,Arceus,Normal,NaN,720,120,120,120,120,120,120,4,True
638,Cobalion,Steel,Fighting,580,91,90,129,90,72,108,5,True
639,Terrakion,Rock,Fighting,580,91,129,90,72,90,108,5,True
640,Virizion,Grass,Fighting,580,91,90,72,90,129,108,5,True
641,TornadusIncarnate Forme,Flying,NaN,580,79,115,70,125,80,111,5,True
641,TornadusTherian Forme,Flying,NaN,580,79,100,80,110,90,121,5,True
642,ThundurusIncarnate Forme,Electric,Flying,580,79,115,70,125,80,111,5,True
642,ThundurusTherian Forme,Electric,Flying,580,79,105,70,145,80,101,5,True
645,LandorusIncarnate Forme,Ground,Flying,600,89,125,90,115,80,101,5,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True

In [121]:
pokemons['Name_Length'] = pokemons['Name'].apply(len)
pokemons

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Name_Length
#,,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,9
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,7
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,8
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,21
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,7
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,19
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,19
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,18
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,9

In [122]:
del pokemons['Name_Length']

In [123]:
def strength(attack: int) -> str:
    if attack > 150:
        return 'Strong'
    elif attack > 100:
        return 'Average'
    else:
        return 'Weak'

In [124]:
pokemons['Strength'] = pokemons['Attack'].apply(strength)
pokemons

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Strength
#,,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Weak
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Weak
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Weak
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Weak
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Weak
...,...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,Weak
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,Strong
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,Average
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,Strong
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,Average

In [125]:
pokemons.value_counts('Strength')

Strength
Weak       630
Average    152
Strong      18
Name: count, dtype: int64

In [126]:
del pokemons['Strength']

In [127]:
pokemons.info()

<class 'pandas.core.frame.DataFrame'>
Index: 800 entries, 1 to 721
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        800 non-null    object
 1   Type 1      800 non-null    object
 2   Type 2      414 non-null    object
 3   Total       800 non-null    int64
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 75.8+ KB

In [128]:
def score(row):
    attack: int = row['Attack']
    speed: int = row['Speed']
    defense: int = row['Defense']
    return sum([attack, speed, defense])

In [129]:
pokemons['Score'] = pokemons.apply(score, axis=1)
pokemons

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Score
#,,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,143
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,185
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,245
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,303
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,160
...,...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,300
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,380
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,240
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,300
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,300

In [130]:
short_name =pokemons['Name'].apply(lambda x:x[:5])
pokemons.insert(0, 'Short_name', short_name)
pokemons

,Short_name,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Score
#,,,,,,,,,,,,,,
1,Bulba,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,143
2,Ivysa,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,185
3,Venus,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,245
3,Venus,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,303
4,Charm,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
719,Dianc,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,300
719,Dianc,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,380
720,Hoopa,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,240
720,Hoopa,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,300
721,Volca,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,300

In [140]:
#pokemons.drop('short', axis=1, inplace=True)
del pokemons['Short_name']

In [132]:
pokemons.info()

<class 'pandas.core.frame.DataFrame'>
Index: 800 entries, 1 to 721
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Short_name  800 non-null    object
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
 13  Score       800 non-null    int64
dtypes: bool(1), int64(9), object(4)
memory usage: 88.3+ KB

In [133]:
pokemons.value_counts('Generation')

Generation
1    166
5    165
3    160
4    121
2    106
6     82
Name: count, dtype: int64

In [134]:
pokemons['Legendary'] = pokemons['Legendary'].map({True:'Yes', False:'No'})
pokemons

,Short_name,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Score
#,,,,,,,,,,,,,,
1,Bulba,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,No,143
2,Ivysa,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,No,185
3,Venus,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,No,245
3,Venus,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,No,303
4,Charm,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,No,160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
719,Dianc,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,Yes,300
719,Dianc,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,Yes,380
720,Hoopa,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,Yes,240
720,Hoopa,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,Yes,300
721,Volca,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,Yes,300

In [135]:
pokemons['Generation'] = pokemons['Generation'].map({1: 'First', 2: 'Second'})
pokemons

,Short_name,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Score
#,,,,,,,,,,,,,,
1,Bulba,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,First,No,143
2,Ivysa,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,First,No,185
3,Venus,Venusaur,Grass,Poison,525,80,82,83,100,100,80,First,No,245
3,Venus,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,First,No,303
4,Charm,Charmander,Fire,NaN,309,39,52,43,60,50,65,First,No,160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
719,Dianc,Diancie,Rock,Fairy,600,50,100,150,100,150,50,NaN,Yes,300
719,Dianc,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,NaN,Yes,380
720,Hoopa,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,NaN,Yes,240
720,Hoopa,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,NaN,Yes,300
721,Volca,Volcanion,Fire,Water,600,80,110,120,130,90,70,NaN,Yes,300

In [136]:
pokemons['Generation'].value_counts()

Generation
First     166
Second    106
Name: count, dtype: int64

In [137]:
pokemons.map(type)

,Short_name,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Score
#,,,,,,,,,,,,,,
1,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'str'>,<class 'str'>,<class 'int'>
2,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'str'>,<class 'str'>,<class 'int'>
3,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'str'>,<class 'str'>,<class 'int'>
3,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'str'>,<class 'str'>,<class 'int'>
4,<class 'str'>,<class 'str'>,<class 'str'>,<class 'float'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'str'>,<class 'str'>,<class 'int'>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
719,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'float'>,<class 'str'>,<class 'int'>
719,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'float'>,<class 'str'>,<class 'int'>
720,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'float'>,<class 'str'>,<class 'int'>
720,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'float'>,<class 'str'>,<class 'int'>
721,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'float'>,<class 'str'>,<class 'int'>

In [138]:
def uppercase(var: str):
    return var.upper()

In [141]:
pokemons = pokemons.applymap(str)
pokemons.applymap(uppercase)

C:\Users\maniu\AppData\Local\Temp\ipykernel_31788\113956347.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  pokemons = pokemons.applymap(str)
C:\Users\maniu\AppData\Local\Temp\ipykernel_31788\113956347.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  pokemons.applymap(uppercase)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Score
#,,,,,,,,,,,,,
1,BULBASAUR,GRASS,POISON,318,45,49,49,65,65,45,FIRST,NO,143
2,IVYSAUR,GRASS,POISON,405,60,62,63,80,80,60,FIRST,NO,185
3,VENUSAUR,GRASS,POISON,525,80,82,83,100,100,80,FIRST,NO,245
3,VENUSAURMEGA VENUSAUR,GRASS,POISON,625,80,100,123,122,120,80,FIRST,NO,303
4,CHARMANDER,FIRE,NAN,309,39,52,43,60,50,65,FIRST,NO,160
...,...,...,...,...,...,...,...,...,...,...,...,...,...
719,DIANCIE,ROCK,FAIRY,600,50,100,150,100,150,50,NAN,YES,300
719,DIANCIEMEGA DIANCIE,ROCK,FAIRY,700,50,160,110,160,110,110,NAN,YES,380
720,HOOPAHOOPA CONFINED,PSYCHIC,GHOST,600,80,110,60,150,130,70,NAN,YES,240
720,HOOPAHOOPA UNBOUND,PSYCHIC,DARK,680,80,160,60,170,130,80,NAN,YES,300
721,VOLCANION,FIRE,WATER,600,80,110,120,130,90,70,NAN,YES,300

In [142]:
pokemons.info()

<class 'pandas.core.frame.DataFrame'>
Index: 800 entries, 1 to 721
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        800 non-null    object
 1   Type 1      800 non-null    object
 2   Type 2      800 non-null    object
 3   Total       800 non-null    object
 4   HP          800 non-null    object
 5   Attack      800 non-null    object
 6   Defense     800 non-null    object
 7   Sp. Atk     800 non-null    object
 8   Sp. Def     800 non-null    object
 9   Speed       800 non-null    object
 10  Generation  800 non-null    object
 11  Legendary   800 non-null    object
 12  Score       800 non-null    object
dtypes: object(13)
memory usage: 87.5+ KB

In [146]:
pokemons.applymap(len)

C:\Users\maniu\AppData\Local\Temp\ipykernel_31788\4254828965.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  pokemons.applymap(len)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Score
#,,,,,,,,,,,,,
1,9,5,6,3,2,2,2,2,2,2,5,2,3
2,7,5,6,3,2,2,2,2,2,2,5,2,3
3,8,5,6,3,2,2,2,3,3,2,5,2,3
3,21,5,6,3,2,3,3,3,3,2,5,2,3
4,10,4,3,3,2,2,2,2,2,2,5,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
719,7,4,5,3,2,3,3,3,3,2,3,3,3
719,19,4,5,3,2,3,3,3,3,3,3,3,3
720,19,7,5,3,2,3,2,3,3,2,3,3,3
720,18,7,4,3,2,3,2,3,3,2,3,3,3
721,9,4,5,3,2,3,3,3,2,2,3,3,3

In [150]:
pokemons.dtypes

Name          object
Type 1        object
Type 2        object
Total         object
HP            object
Attack        object
Defense       object
Sp. Atk       object
Sp. Def       object
Speed         object
Generation    object
Legendary     object
Score         object
dtype: object

In [152]:
pokemons.info()

<class 'pandas.core.frame.DataFrame'>
Index: 800 entries, 1 to 721
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        800 non-null    object
 1   Type 1      800 non-null    object
 2   Type 2      800 non-null    object
 3   Total       800 non-null    object
 4   HP          800 non-null    object
 5   Attack      800 non-null    object
 6   Defense     800 non-null    object
 7   Sp. Atk     800 non-null    object
 8   Sp. Def     800 non-null    object
 9   Speed       800 non-null    object
 10  Generation  800 non-null    object
 11  Legendary   800 non-null    object
 12  Score       800 non-null    object
dtypes: object(13)
memory usage: 87.5+ KB

In [161]:
pokemons=pd.read_csv('Pokemon.csv', index_col='#')

In [162]:
pokemons['Generation'] = pokemons['Generation'].astype('int8')
pokemons['Total'] = pokemons['Total'].astype('int16')
pokemons.info()

<class 'pandas.core.frame.DataFrame'>
Index: 800 entries, 1 to 721
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        800 non-null    object
 1   Type 1      800 non-null    object
 2   Type 2      414 non-null    object
 3   Total       800 non-null    int16
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int8
 11  Legendary   800 non-null    bool
dtypes: bool(1), int16(1), int64(6), int8(1), object(3)
memory usage: 65.6+ KB

In [163]:
pokemons['Legendary'] = pokemons['Legendary'].astype('int8')
pokemons

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,0
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,0
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,0
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,0
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,1
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,1
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,1
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,1
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,1

In [164]:
pokemons.info()

<class 'pandas.core.frame.DataFrame'>
Index: 800 entries, 1 to 721
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        800 non-null    object
 1   Type 1      800 non-null    object
 2   Type 2      414 non-null    object
 3   Total       800 non-null    int16
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int8
 11  Legendary   800 non-null    int8
dtypes: int16(1), int64(6), int8(2), object(3)
memory usage: 65.6+ KB

In [167]:
pokemons['Legendary'].replace({1: 'Yes', 0: 'No'}, inplace=True)
pokemons

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,No
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,No
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,No
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,No
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,No
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,Yes
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,Yes
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,Yes
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,Yes
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,Yes

In [173]:
gen = pokemons['Generation'] == 2
#pokemons[gen]
#pokemons.where(pokemons['Generation'] == 2).dropna()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
163,Hoothoot,Normal,Flying,262.0,60.0,30.0,30.0,36.0,56.0,50.0,2.0,No
164,Noctowl,Normal,Flying,442.0,100.0,50.0,50.0,76.0,96.0,70.0,2.0,No
165,Ledyba,Bug,Flying,265.0,40.0,20.0,30.0,40.0,80.0,55.0,2.0,No
166,Ledian,Bug,Flying,390.0,55.0,35.0,50.0,55.0,110.0,85.0,2.0,No
167,Spinarak,Bug,Poison,250.0,40.0,60.0,40.0,40.0,40.0,30.0,2.0,No
168,Ariados,Bug,Poison,390.0,70.0,90.0,70.0,60.0,60.0,40.0,2.0,No
169,Crobat,Poison,Flying,535.0,85.0,90.0,80.0,70.0,80.0,130.0,2.0,No
170,Chinchou,Water,Electric,330.0,75.0,38.0,38.0,56.0,56.0,67.0,2.0,No
171,Lanturn,Water,Electric,460.0,125.0,58.0,58.0,76.0,76.0,67.0,2.0,No
174,Igglybuff,Normal,Fairy,210.0,90.0,30.0,15.0,40.0,20.0,15.0,2.0,No
176,Togetic,Fairy,Flying,405.0,55.0,40.0,85.0,80.0,105.0,40.0,2.0,No
177,Natu,Psychic,Flying,320.0,40.0,50.0,45.0,70.0,45.0,70.0,2.0,No
178,Xatu,Psychic,Flying,470.0,65.0,75.0,70.0,95.0,70.0,95.0,2.0,No
181,AmpharosMega Ampharos,Electric,Dragon,610.0,90.0,95.0,105.0,165.0,110.0,45.0,2.0,No
183,Marill,Water,Fairy,250.0,70.0,20.0,50.0,20.0,50.0,40.0,2.0,No
184,Azumarill,Water,Fairy,420.0,100.0,50.0,80.0,60.0,80.0,50.0,2.0,No
187,Hoppip,Grass,Flying,250.0,35.0,35.0,40.0,35.0,55.0,50.0,2.0,No
188,Skiploom,Grass,Flying,340.0,55.0,45.0,50.0,45.0,65.0,80.0,2.0,No
189,Jumpluff,Grass,Flying,460.0,75.0,55.0,70.0,55.0,95.0,110.0,2.0,No
193,Yanma,Bug,Flying,390.0,65.0,65.0,45.0,75.0,45.0,95.0,2.0,No
194,Wooper,Water,Ground,210.0,55.0,45.0,45.0,25.0,25.0,15.0,2.0,No
195,Quagsire,Water,Ground,430.0,95.0,85.0,85.0,65.0,65.0,35.0,2.0,No
198,Murkrow,Dark,Flying,405.0,60.0,85.0,42.0,85.0,42.0,91.0,2.0,No
199,Slowking,Water,Psychic,490.0,95.0,75.0,80.0,100.0,110.0,30.0,2.0,No
203,Girafarig,Normal,Psychic,455.0,70.0,80.0,65.0,90.0,65.0,85.0,2.0,No
205,Forretress,Bug,Steel,465.0,75.0,90.0,140.0,60.0,60.0,40.0,2.0,No
207,Gligar,Ground,Flying,430.0,65.0,75.0,105.0,35.0,65.0,85.0,2.0,No
208,Steelix,Steel,Ground,510.0,75.0,85.0,200.0,55.0,65.0,30.0,2.0,No
208,SteelixMega Steelix,Steel,Ground,610.0,75.0,125.0,230.0,55.0,95.0,30.0,2.0,No
211,Qwilfish,Water,Poison,430.0,65.0,95.0,75.0,55.0,55.0,85.0,2.0,No
212,Scizor,Bug,Steel,500.0,70.0,130.0,100.0,55.0,80.0,65.0,2.0,No
212,ScizorMega Scizor,Bug,Steel,600.0,70.0,150.0,140.0,65.0,100.0,75.0,2.0,No
213,Shuckle,Bug,Rock,505.0,20.0,10.0,230.0,10.0,230.0,5.0,2.0,No
214,Heracross,Bug,Fighting,500.0,80.0,125.0,75.0,40.0,95.0,85.0,2.0,No
214,HeracrossMega Heracross,Bug,Fighting,600.0,80.0,185.0,115.0,40.0,105.0,75.0,2.0,No
215,Sneasel,Dark,Ice,430.0,55.0,95.0,55.0,35.0,75.0,115.0,2.0,No
219,Magcargo,Fire,Rock,410.0,50.0,50.0,120.0,80.0,80.0,30.0,2.0,No
220,Swinub,Ice,Ground,250.0,50.0,50.0,40.0,30.0,30.0,50.0,2.0,No
221,Piloswine,Ice,Ground,450.0,100.0,100.0,80.0,60.0,60.0,50.0,2.0,No
222,Corsola,Water,Rock,380.0,55.0,55.0,85.0,65.0,85.0,35.0,2.0,No
225,Delibird,Ice,Flying,330.0,45.0,55.0,45.0,65.0,45.0,75.0,2.0,No
226,Mantine,Water,Flying,465.0,65.0,40.0,70.0,80.0,140.0,70.0,2.0,No
227,Skarmory,Steel,Flying,465.0,65.0,80.0,140.0,40.0,70.0,70.0,2.0,No
228,Houndour,Dark,Fire,330.0,45.0,60.0,30.0,80.0,50.0,65.0,2.0,No
229,Houndoom,Dark,Fire,500.0,75.0,90.0,50.0,110.0,80.0,95.0,2.0,No
229,HoundoomMega Houndoom,Dark,Fire,600.0,75.0,90.0,90.0,140.0,90.0,115.0,2.0,No
230,Kingdra,Water,Dragon,540.0,75.0,95.0,95.0,95.0,95.0,85.0,2.0,No
238,Smoochum,Ice,Psychic,305.0,45.0,30.0,15.0,85.0,65.0,65.0,2.0,No
246,Larvitar,Rock,Ground,300.0,50.0,64.0,50.0,45.0,50.0,41.0,2.0,No
247,Pupitar,Rock,Ground,410.0,70.0,84.0,70.0,65.0,70.0,51.0,2.0,No
248,Tyranitar,Rock,Dark,600.0,100.0,134.0,110.0,95.0,100.0,61.0,2.0,No
248,TyranitarMega Tyranitar,Rock,Dark,700.0,100.0,164.0,150.0,95.0,120.0,71.0,2.0,No
249,Lugia,Psychic,Flying,680.0,106.0,90.0,130.0,90.0,154.0,110.0,2.0,Yes
250,Ho-oh,Fire,Flying,680.0,106.0,130.0,90.0,110.0,154.0,90.0,2.0,Yes
251,Celebi,Psychic,Grass,600.0,100.0,100.0,100.0,100.0,100.0,100.0,2.0,No

In [175]:
pokemons.agg({'Attack':'mean', 'Defense': 'max'})

Attack      79.00125
Defense    230.00000
dtype: float64

In [182]:
pokemons.agg({'Defense':['min','max','mean'], 'Speed': ['median', 'max']}).round(2)

        Defense  Speed
min        5.00    NaN
max      230.00  180.0
mean      73.84    NaN
median      NaN   65.0

In [191]:
pokemons.agg('max', numeric_only=True)

Total         780
HP            255
Attack        190
Defense       230
Sp. Atk       194
Sp. Def       230
Speed         180
Generation      6
dtype: int64

In [183]:
pokemons.describe()

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [192]:
pokemons=pd.read_csv('Pokemon.csv', index_col='#')

In [194]:
legendary = pokemons['Legendary'].copy()
legendary

#
1      False
2      False
3      False
3      False
4      False
       ...
719     True
719     True
720     True
720     True
721     True
Name: Legendary, Length: 800, dtype: bool

In [197]:
legendary[0:3] = '???'
legendary

#
1        ???
2        ???
3        ???
3      False
4      False
       ...
719     True
719     True
720     True
720     True
721     True
Name: Legendary, Length: 800, dtype: object

In [198]:
pokemons

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [200]:
pokemons=pd.read_csv('Pokemon.csv')
pokemons

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [205]:
pokemons.set_index(['Name', 'Type 1'], inplace=True)

In [206]:
pokemons

,,#,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,Type 1,,,,,,,,,,,
Bulbasaur,Grass,1,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,Grass,2,Poison,405,60,62,63,80,80,60,1,False
Venusaur,Grass,3,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,Grass,3,Poison,625,80,100,123,122,120,80,1,False
Charmander,Fire,4,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
Diancie,Rock,719,Fairy,600,50,100,150,100,150,50,6,True
DiancieMega Diancie,Rock,719,Fairy,700,50,160,110,160,110,110,6,True
HoopaHoopa Confined,Psychic,720,Ghost,600,80,110,60,150,130,70,6,True
HoopaHoopa Unbound,Psychic,720,Dark,680,80,160,60,170,130,80,6,True
Volcanion,Fire,721,Water,600,80,110,120,130,90,70,6,True

In [207]:
pokemons.index

MultiIndex([(                'Bulbasaur',   'Grass'),
            (                  'Ivysaur',   'Grass'),
            (                 'Venusaur',   'Grass'),
            (    'VenusaurMega Venusaur',   'Grass'),
            (               'Charmander',    'Fire'),
            (               'Charmeleon',    'Fire'),
            (                'Charizard',    'Fire'),
            ('CharizardMega Charizard X',    'Fire'),
            ('CharizardMega Charizard Y',    'Fire'),
            (                 'Squirtle',   'Water'),
            ...
            (                   'Noibat',  'Flying'),
            (                  'Noivern',  'Flying'),
            (                  'Xerneas',   'Fairy'),
            (                  'Yveltal',    'Dark'),
            (         'Zygarde50% Forme',  'Dragon'),
            (                  'Diancie',    'Rock'),
            (      'DiancieMega Diancie',    'Rock'),
            (      'HoopaHoopa Confined', 'Psychic'),
            (       'HoopaHoopa Unbound', 'Psychic'),
            (                'Volcanion',    'Fire')],
           names=['Name', 'Type 1'], length=800)

In [208]:
pokemons.index.get_level_values(1)

Index(['Grass', 'Grass', 'Grass', 'Grass', 'Fire', 'Fire', 'Fire', 'Fire',
       'Fire', 'Water',
       ...
       'Flying', 'Flying', 'Fairy', 'Dark', 'Dragon', 'Rock', 'Rock',
       'Psychic', 'Psychic', 'Fire'],
      dtype='object', name='Type 1', length=800)

In [209]:
pokemons = pokemons.swaplevel()
pokemons

                                 #  Type 2  Total  HP  Attack  Defense  \
Type 1  Name
Grass   Bulbasaur                1  Poison    318  45      49       49
        Ivysaur                  2  Poison    405  60      62       63
        Venusaur                 3  Poison    525  80      82       83
        VenusaurMega Venusaur    3  Poison    625  80     100      123
Fire    Charmander               4     NaN    309  39      52       43
...                            ...     ...    ...  ..     ...      ...
Rock    Diancie                719   Fairy    600  50     100      150
        DiancieMega Diancie    719   Fairy    700  50     160      110
Psychic HoopaHoopa Confined    720   Ghost    600  80     110       60
        HoopaHoopa Unbound     720    Dark    680  80     160       60
Fire    Volcanion              721   Water    600  80     110      120

                               Sp. Atk  Sp. Def  Speed  Generation  Legendary
Type 1  Name
Grass   Bulbasaur                   65       65     45           1      False
        Ivysaur                     80       80     60           1      False
        Venusaur                   100      100     80           1      False
        VenusaurMega Venusaur      122      120     80           1      False
Fire    Charmander                  60       50     65           1      False
...                                ...      ...    ...         ...        ...
Rock    Diancie                    100      150     50           6       True
        DiancieMega Diancie        160      110    110           6       True
Psychic HoopaHoopa Confined        150      130     70           6       True
        HoopaHoopa Unbound         170      130     80           6       True
Fire    Volcanion                  130       90     70           6       True

[800 rows x 11 columns]

In [210]:
pokemons.sort_values('Type 1')

                   #    Type 2  Total   HP  Attack  Defense  Sp. Atk  Sp. Def  \
Type 1 Name
Bug    Sewaddle  540     Grass    310   45      53       70       40       60
       Pinsir    127       NaN    500   65     125      100       55       70
       Burmy     412       NaN    224   40      29       45       29       45
       Scyther   123    Flying    500   70     110       80       55       80
       Joltik    595  Electric    319   50      47       50       57       50
...              ...       ...    ...  ...     ...      ...      ...      ...
Water  Totodile  158       NaN    314   50      65       64       44       48
       Basculin  550       NaN    460   70      92       65       80       55
       Vaporeon  134       NaN    525  130      65       60      110       95
       Panpour   515       NaN    316   50      53       48       53       48
       Chinchou  170  Electric    330   75      38       38       56       56

                 Speed  Generation  Legendary
Type 1 Name
Bug    Sewaddle     42           5      False
       Pinsir       85           1      False
       Burmy        36           4      False
       Scyther     105           1      False
       Joltik       65           5      False
...                ...         ...        ...
Water  Totodile     43           2      False
       Basculin     98           5      False
       Vaporeon     65           1      False
       Panpour      64           5      False
       Chinchou     67           2      False

[800 rows x 11 columns]

In [212]:
pokemons=pd.read_csv('Pokemon.csv', index_col=['Type 1', 'Name'])
pokemons

                                 #  Type 2  Total  HP  Attack  Defense  \
Type 1  Name
Grass   Bulbasaur                1  Poison    318  45      49       49
        Ivysaur                  2  Poison    405  60      62       63
        Venusaur                 3  Poison    525  80      82       83
        VenusaurMega Venusaur    3  Poison    625  80     100      123
Fire    Charmander               4     NaN    309  39      52       43
...                            ...     ...    ...  ..     ...      ...
Rock    Diancie                719   Fairy    600  50     100      150
        DiancieMega Diancie    719   Fairy    700  50     160      110
Psychic HoopaHoopa Confined    720   Ghost    600  80     110       60
        HoopaHoopa Unbound     720    Dark    680  80     160       60
Fire    Volcanion              721   Water    600  80     110      120

                               Sp. Atk  Sp. Def  Speed  Generation  Legendary
Type 1  Name
Grass   Bulbasaur                   65       65     45           1      False
        Ivysaur                     80       80     60           1      False
        Venusaur                   100      100     80           1      False
        VenusaurMega Venusaur      122      120     80           1      False
Fire    Charmander                  60       50     65           1      False
...                                ...      ...    ...         ...        ...
Rock    Diancie                    100      150     50           6       True
        DiancieMega Diancie        160      110    110           6       True
Psychic HoopaHoopa Confined        150      130     70           6       True
        HoopaHoopa Unbound         170      130     80           6       True
Fire    Volcanion                  130       90     70           6       True

[800 rows x 11 columns]

In [214]:
pokemons.loc['Grass'] # selecting by type

,#,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,
Bulbasaur,1,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,2,Poison,405,60,62,63,80,80,60,1,False
Venusaur,3,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,3,Poison,625,80,100,123,122,120,80,1,False
Oddish,43,Poison,320,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...
Chespin,650,NaN,313,56,61,65,48,45,38,6,False
Quilladin,651,NaN,405,61,78,95,56,58,57,6,False
Chesnaught,652,Fighting,530,88,107,122,74,75,64,6,False
Skiddo,672,NaN,350,66,65,48,62,57,52,6,False
Gogoat,673,NaN,531,123,100,62,97,81,68,6,False

In [215]:
pokemons.loc['Grass', 'Attack']    # selecting by type and specific column

Name
Bulbasaur                 49
Ivysaur                   62
Venusaur                  82
VenusaurMega Venusaur    100
Oddish                    50
                        ...
Chespin                   61
Quilladin                 78
Chesnaught               107
Skiddo                    65
Gogoat                   100
Name: Attack, Length: 70, dtype: int64

In [217]:
pokemons.loc[('Grass', 'Oddish'), 'Attack'] # selecting a column

50

In [220]:
pokemons.loc[('Grass', 'Oddish'), ['Attack', 'Speed']]    # selecting multiple column

Attack    50
Speed     30
Name: (Grass, Oddish), dtype: int64

In [221]:
pokemons

                                 #  Type 2  Total  HP  Attack  Defense  \
Type 1  Name
Grass   Bulbasaur                1  Poison    318  45      49       49
        Ivysaur                  2  Poison    405  60      62       63
        Venusaur                 3  Poison    525  80      82       83
        VenusaurMega Venusaur    3  Poison    625  80     100      123
Fire    Charmander               4     NaN    309  39      52       43
...                            ...     ...    ...  ..     ...      ...
Rock    Diancie                719   Fairy    600  50     100      150
        DiancieMega Diancie    719   Fairy    700  50     160      110
Psychic HoopaHoopa Confined    720   Ghost    600  80     110       60
        HoopaHoopa Unbound     720    Dark    680  80     160       60
Fire    Volcanion              721   Water    600  80     110      120

                               Sp. Atk  Sp. Def  Speed  Generation  Legendary
Type 1  Name
Grass   Bulbasaur                   65       65     45           1      False
        Ivysaur                     80       80     60           1      False
        Venusaur                   100      100     80           1      False
        VenusaurMega Venusaur      122      120     80           1      False
Fire    Charmander                  60       50     65           1      False
...                                ...      ...    ...         ...        ...
Rock    Diancie                    100      150     50           6       True
        DiancieMega Diancie        160      110    110           6       True
Psychic HoopaHoopa Confined        150      130     70           6       True
        HoopaHoopa Unbound         170      130     80           6       True
Fire    Volcanion                  130       90     70           6       True

[800 rows x 11 columns]

In [226]:
pokemons.loc[('Grass', 'Fire'), ['Bulbasaur', 'Charmander'], :] 
# selecting multiple index, first tuple represents index, second list row name,(:) represents all data, important to mention

,,#,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,Name,,,,,,,,,,,
Grass,Bulbasaur,1,Poison,318,45,49,49,65,65,45,1,False
Fire,Charmander,4,NaN,309,39,52,43,60,50,65,1,False

In [227]:
pokemons.loc[:, 'Volcanion', :]  # by ignoring first index

,#,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,,
Fire,721,Water,600,80,110,120,130,90,70,6,True

In [230]:
# get column value by ignoring first index
pokemons.loc[(slice(None), 'Bulbasaur'), 'Speed']

Type 1  Name
Grass   Bulbasaur    45
Name: Speed, dtype: int64

In [273]:
pokemon_test=pd.read_csv('Pokemon.csv', index_col=['Type 1', 'Name'])
pokemon_test

                                 #  Type 2  Total  HP  Attack  Defense  \
Type 1  Name
Grass   Bulbasaur                1  Poison    318  45      49       49
        Ivysaur                  2  Poison    405  60      62       63
        Venusaur                 3  Poison    525  80      82       83
        VenusaurMega Venusaur    3  Poison    625  80     100      123
Fire    Charmander               4     NaN    309  39      52       43
...                            ...     ...    ...  ..     ...      ...
Rock    Diancie                719   Fairy    600  50     100      150
        DiancieMega Diancie    719   Fairy    700  50     160      110
Psychic HoopaHoopa Confined    720   Ghost    600  80     110       60
        HoopaHoopa Unbound     720    Dark    680  80     160       60
Fire    Volcanion              721   Water    600  80     110      120

                               Sp. Atk  Sp. Def  Speed  Generation  Legendary
Type 1  Name
Grass   Bulbasaur                   65       65     45           1      False
        Ivysaur                     80       80     60           1      False
        Venusaur                   100      100     80           1      False
        VenusaurMega Venusaur      122      120     80           1      False
Fire    Charmander                  60       50     65           1      False
...                                ...      ...    ...         ...        ...
Rock    Diancie                    100      150     50           6       True
        DiancieMega Diancie        160      110    110           6       True
Psychic HoopaHoopa Confined        150      130     70           6       True
        HoopaHoopa Unbound         170      130     80           6       True
Fire    Volcanion                  130       90     70           6       True

[800 rows x 11 columns]

In [283]:
pokemon_test.sort_values('Type 1', inplace=True)
pokemon_test

                    #    Type 2  Total   HP  Attack  Defense  Sp. Atk  \
Type 1 Name
Bug    Sewaddle   540     Grass    310   45      53       70       40
       Spinarak   167    Poison    250   40      60       40       40
       Ledian     166    Flying    390   55      35       50       55
       Nincada    290    Ground    266   31      45       90       30
       Ledyba     165    Flying    265   40      20       30       40
...               ...       ...    ...  ...     ...      ...      ...
Water  Gastrodon  423    Ground    475  111      83       68       92
       Shellos    422       NaN    325   76      48       48       57
       Floatzel   419       NaN    495   85     105       55       85
       Clamperl   366       NaN    345   35      64       85       74
       Chinchou   170  Electric    330   75      38       38       56

                  Sp. Def  Speed  Generation  Legendary Strength
Type 1 Name
Bug    Sewaddle        60     42           5      False     WEAK
       Spinarak        40     30           2      False     WEAK
       Ledian         110     85           2      False     WEAK
       Nincada         30     40           3      False     WEAK
       Ledyba          80     55           2      False     WEAK
...                   ...    ...         ...        ...      ...
Water  Gastrodon       82     39           4      False     WEAK
       Shellos         62     34           4      False     WEAK
       Floatzel        50    115           4      False   STRONG
       Clamperl        55     32           3      False     WEAK
       Chinchou        56     67           2      False     WEAK

[800 rows x 12 columns]

In [286]:
selected_df = pokemon_test.loc['Fire']
selected_df = selected_df[selected_df.index.str.startswith('C')]
selected_df

,#,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Strength
Name,,,,,,,,,,,,
Charizard,6,Flying,534,78,84,78,109,85,100,1,False,WEAK
CharizardMega Charizard X,6,Dragon,634,78,130,111,130,85,100,1,False,STRONG
CharizardMega Charizard Y,6,Flying,634,78,104,78,159,115,100,1,False,STRONG
Charmeleon,5,NaN,405,58,64,58,80,65,80,1,False,WEAK
Charmander,4,NaN,309,39,52,43,60,50,65,1,False,WEAK
Cyndaquil,155,NaN,309,39,52,43,60,50,65,2,False,WEAK
Camerupt,323,Ground,460,70,100,70,105,75,40,3,False,WEAK
Chimchar,390,NaN,309,44,58,44,58,44,61,4,False,WEAK
Combusken,256,Fighting,405,60,85,60,85,60,55,3,False,WEAK
CameruptMega Camerupt,323,Ground,560,70,120,100,145,105,20,3,False,STRONG

In [276]:
pokemon_test.agg({'Attack':['max','min','mean'], 'Defense':['max','min','mean']}).round(1)

      Attack  Defense
max    190.0    230.0
min      5.0      5.0
mean    79.0     73.8

In [277]:
def strength(attack: str):
    if attack > 100:
        return 'STRONG'
    else:
        return 'WEAK'

In [278]:
pokemon_test['Strength'] = pokemon_test['Attack'].apply(strength)
pokemon_test

                                 #  Type 2  Total  HP  Attack  Defense  \
Type 1  Name
Grass   Bulbasaur                1  Poison    318  45      49       49
        Ivysaur                  2  Poison    405  60      62       63
        Venusaur                 3  Poison    525  80      82       83
        VenusaurMega Venusaur    3  Poison    625  80     100      123
Fire    Charmander               4     NaN    309  39      52       43
...                            ...     ...    ...  ..     ...      ...
Rock    Diancie                719   Fairy    600  50     100      150
        DiancieMega Diancie    719   Fairy    700  50     160      110
Psychic HoopaHoopa Confined    720   Ghost    600  80     110       60
        HoopaHoopa Unbound     720    Dark    680  80     160       60
Fire    Volcanion              721   Water    600  80     110      120

                               Sp. Atk  Sp. Def  Speed  Generation  Legendary  \
Type 1  Name
Grass   Bulbasaur                   65       65     45           1      False
        Ivysaur                     80       80     60           1      False
        Venusaur                   100      100     80           1      False
        VenusaurMega Venusaur      122      120     80           1      False
Fire    Charmander                  60       50     65           1      False
...                                ...      ...    ...         ...        ...
Rock    Diancie                    100      150     50           6       True
        DiancieMega Diancie        160      110    110           6       True
Psychic HoopaHoopa Confined        150      130     70           6       True
        HoopaHoopa Unbound         170      130     80           6       True
Fire    Volcanion                  130       90     70           6       True

                              Strength
Type 1  Name
Grass   Bulbasaur                 WEAK
        Ivysaur                   WEAK
        Venusaur                  WEAK
        VenusaurMega Venusaur     WEAK
Fire    Charmander                WEAK
...                                ...
Rock    Diancie                   WEAK
        DiancieMega Diancie     STRONG
Psychic HoopaHoopa Confined     STRONG
        HoopaHoopa Unbound      STRONG
Fire    Volcanion               STRONG

[800 rows x 12 columns]

In [288]:
reverse_name = pokemon_test.index.get_level_values('Name').str[::-1]
pokemon_test['Reversed'] = reverse_name
pokemon_test

                    #    Type 2  Total   HP  Attack  Defense  Sp. Atk  \
Type 1 Name
Bug    Sewaddle   540     Grass    310   45      53       70       40
       Spinarak   167    Poison    250   40      60       40       40
       Ledian     166    Flying    390   55      35       50       55
       Nincada    290    Ground    266   31      45       90       30
       Ledyba     165    Flying    265   40      20       30       40
...               ...       ...    ...  ...     ...      ...      ...
Water  Gastrodon  423    Ground    475  111      83       68       92
       Shellos    422       NaN    325   76      48       48       57
       Floatzel   419       NaN    495   85     105       55       85
       Clamperl   366       NaN    345   35      64       85       74
       Chinchou   170  Electric    330   75      38       38       56

                  Sp. Def  Speed  Generation  Legendary Strength   Reversed
Type 1 Name
Bug    Sewaddle        60     42           5      False     WEAK   elddaweS
       Spinarak        40     30           2      False     WEAK   karanipS
       Ledian         110     85           2      False     WEAK     naideL
       Nincada         30     40           3      False     WEAK    adacniN
       Ledyba          80     55           2      False     WEAK     abydeL
...                   ...    ...         ...        ...      ...        ...
Water  Gastrodon       82     39           4      False     WEAK  nodortsaG
       Shellos         62     34           4      False     WEAK    sollehS
       Floatzel        50    115           4      False   STRONG   leztaolF
       Clamperl        55     32           3      False     WEAK   lrepmalC
       Chinchou        56     67           2      False     WEAK   uohcnihC

[800 rows x 13 columns]

In [293]:
#pokemon_test.reset_index(drop=False, inplace=False)
pokemon_test.reset_index('Type 1')

,Type 1,#,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Strength,Reversed
Name,,,,,,,,,,,,,,
Sewaddle,Bug,540,Grass,310,45,53,70,40,60,42,5,False,WEAK,elddaweS
Spinarak,Bug,167,Poison,250,40,60,40,40,40,30,2,False,WEAK,karanipS
Ledian,Bug,166,Flying,390,55,35,50,55,110,85,2,False,WEAK,naideL
Nincada,Bug,290,Ground,266,31,45,90,30,30,40,3,False,WEAK,adacniN
Ledyba,Bug,165,Flying,265,40,20,30,40,80,55,2,False,WEAK,abydeL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Gastrodon,Water,423,Ground,475,111,83,68,92,82,39,4,False,WEAK,nodortsaG
Shellos,Water,422,NaN,325,76,48,48,57,62,34,4,False,WEAK,sollehS
Floatzel,Water,419,NaN,495,85,105,55,85,50,115,4,False,STRONG,leztaolF
Clamperl,Water,366,NaN,345,35,64,85,74,55,32,3,False,WEAK,lrepmalC
Chinchou,Water,170,Electric,330,75,38,38,56,56,67,2,False,WEAK,uohcnihC

In [294]:
pokemon_test.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 800 entries, ('Bug', 'Sewaddle') to ('Water', 'Chinchou')
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Type 2      414 non-null    object
 2   Total       800 non-null    int64
 3   HP          800 non-null    int64
 4   Attack      800 non-null    int64
 5   Defense     800 non-null    int64
 6   Sp. Atk     800 non-null    int64
 7   Sp. Def     800 non-null    int64
 8   Speed       800 non-null    int64
 9   Generation  800 non-null    int64
 10  Legendary   800 non-null    bool
 11  Strength    800 non-null    object
 12  Reversed    800 non-null    object
dtypes: bool(1), int64(9), object(3)
memory usage: 117.4+ KB

In [296]:
pokemon_test.index.get_level_values('Name').str.upper()

Index(['SEWADDLE', 'SPINARAK', 'LEDIAN', 'NINCADA', 'LEDYBA', 'LEAVANNY',
       'VENIPEDE', 'WHIRLIPEDE', 'SCOLIPEDE', 'VESPIQUEN',
       ...
       'LUMINEON', 'FINNEON', 'MANTINE', 'KINGDRA', 'SUICUNE', 'GASTRODON',
       'SHELLOS', 'FLOATZEL', 'CLAMPERL', 'CHINCHOU'],
      dtype='object', name='Name', length=800)

In [297]:
pokemon_test['Strength'].str.upper()

Type 1  Name
Bug     Sewaddle       WEAK
        Spinarak       WEAK
        Ledian         WEAK
        Nincada        WEAK
        Ledyba         WEAK
                      ...
Water   Gastrodon      WEAK
        Shellos        WEAK
        Floatzel     STRONG
        Clamperl       WEAK
        Chinchou       WEAK
Name: Strength, Length: 800, dtype: object

In [298]:
pokemon_test['Strength'].str[::-1]

Type 1  Name
Bug     Sewaddle       KAEW
        Spinarak       KAEW
        Ledian         KAEW
        Nincada        KAEW
        Ledyba         KAEW
                      ...
Water   Gastrodon      KAEW
        Shellos        KAEW
        Floatzel     GNORTS
        Clamperl       KAEW
        Chinchou       KAEW
Name: Strength, Length: 800, dtype: object

In [308]:
case_filter = pokemon_test.index.get_level_values('Name').str.contains('Xe', case=True)
pokemon_test[case_filter]

,,#,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Strength,Reversed
Type 1,Name,,,,,,,,,,,,,
Fairy,Xerneas,716,NaN,680,126,131,95,131,98,99,6,True,STRONG,saenreX

In [313]:
name_filter = pokemon_test['Name'].str.startswith('Do')
pokemon_test[name_filter]
# pokemon_test.reset_index(inplace=True)

,Type 1,Name,#,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Strength,Reversed
396,Ground,Donphan,232,NaN,500,90,120,120,60,60,50,2,False,STRONG,nahpnoD
445,Normal,Dodrio,85,Flying,460,60,110,70,60,60,100,1,False,STRONG,oirdoD
455,Normal,Doduo,84,Flying,310,35,85,45,35,35,75,1,False,WEAK,oudoD
663,Steel,Doublade,680,Ghost,448,59,110,150,45,49,35,6,False,STRONG,edalbuoD

In [317]:
name_filter = pokemon_test['Name'].str.endswith('chu')
pokemon_test[name_filter]

,Type 1,Name,#,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Strength,Reversed
134,Electric,Pikachu,25,NaN,320,35,55,40,50,50,90,1,False,WEAK,uhcakiP
139,Electric,Raichu,26,NaN,485,60,90,55,90,80,110,1,False,WEAK,uhciaR
155,Electric,Pichu,172,NaN,205,20,40,15,35,35,60,2,False,WEAK,uhciP

In [324]:
pokemon_test['Type 1'] = pokemon_test['Type 1'].str.replace('Grass','Vegan',regex=False)
pokemon_test[pokemon_test['Type 1'] == 'Vegan']

,Type 1,Name,#,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Strength,Reversed
308,Vegan,Chikorita,152,NaN,318,45,49,65,49,65,45,2,False,WEAK,atirokihC
309,Vegan,Bellsprout,69,Poison,300,50,75,35,70,30,40,1,False,WEAK,tuorpslleB
310,Vegan,SceptileMega Sceptile,254,Dragon,630,70,110,75,145,85,145,3,False,STRONG,elitpecS ageMelitpecS
311,Vegan,Victreebel,71,Poison,490,80,105,65,100,70,70,1,False,STRONG,lebeertciV
312,Vegan,Weepinbell,70,Poison,390,65,90,50,85,45,55,1,False,WEAK,llebnipeeW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,Vegan,Ferroseed,597,Steel,305,44,50,91,24,86,10,5,False,WEAK,deesorreF
374,Vegan,Amoonguss,591,Poison,464,114,85,70,85,80,30,5,False,WEAK,ssugnoomA
375,Vegan,Foongus,590,Poison,294,69,55,45,55,55,15,5,False,WEAK,sugnooF
376,Vegan,Budew,406,Poison,280,40,30,35,50,70,55,4,False,WEAK,weduB
377,Vegan,Virizion,640,Fighting,580,91,90,72,90,129,108,5,True,WEAK,noiziriV

In [330]:
pokemon_test.columns

Index(['Type 1', '#', 'Type 2', 'Total', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary', 'Strength', 'Reversed'],
      dtype='object')

In [333]:
#pokemon_test.set_index('Name', inplace=True)

,Type 1,#,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Strength,Reversed
Name,,,,,,,,,,,,,,
Sewaddle,Bug,540,Grass,310,45,53,70,40,60,42,5,False,WEAK,elddaweS
Spinarak,Bug,167,Poison,250,40,60,40,40,40,30,2,False,WEAK,karanipS
Ledian,Bug,166,Flying,390,55,35,50,55,110,85,2,False,WEAK,naideL
Nincada,Bug,290,Ground,266,31,45,90,30,30,40,3,False,WEAK,adacniN
Ledyba,Bug,165,Flying,265,40,20,30,40,80,55,2,False,WEAK,abydeL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Gastrodon,Water,423,Ground,475,111,83,68,92,82,39,4,False,WEAK,nodortsaG
Shellos,Water,422,NaN,325,76,48,48,57,62,34,4,False,WEAK,sollehS
Floatzel,Water,419,NaN,495,85,105,55,85,50,115,4,False,STRONG,leztaolF
Clamperl,Water,366,NaN,345,35,64,85,74,55,32,3,False,WEAK,lrepmalC
Chinchou,Water,170,Electric,330,75,38,38,56,56,67,2,False,WEAK,uohcnihC

In [335]:
pokemon_test.columns.str.upper()

Index(['TYPE 1', '#', 'TYPE 2', 'TOTAL', 'HP', 'ATTACK', 'DEFENSE', 'SP. ATK',
       'SP. DEF', 'SPEED', 'GENERATION', 'LEGENDARY', 'STRENGTH', 'REVERSED'],
      dtype='object')

In [336]:
pokemon_test.columns=pokemon_test.columns.str.upper()
pokemon_test

,TYPE 1,#,TYPE 2,TOTAL,HP,ATTACK,DEFENSE,SP. ATK,SP. DEF,SPEED,GENERATION,LEGENDARY,STRENGTH,REVERSED
Name,,,,,,,,,,,,,,
Sewaddle,Bug,540,Grass,310,45,53,70,40,60,42,5,False,WEAK,elddaweS
Spinarak,Bug,167,Poison,250,40,60,40,40,40,30,2,False,WEAK,karanipS
Ledian,Bug,166,Flying,390,55,35,50,55,110,85,2,False,WEAK,naideL
Nincada,Bug,290,Ground,266,31,45,90,30,30,40,3,False,WEAK,adacniN
Ledyba,Bug,165,Flying,265,40,20,30,40,80,55,2,False,WEAK,abydeL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Gastrodon,Water,423,Ground,475,111,83,68,92,82,39,4,False,WEAK,nodortsaG
Shellos,Water,422,NaN,325,76,48,48,57,62,34,4,False,WEAK,sollehS
Floatzel,Water,419,NaN,495,85,105,55,85,50,115,4,False,STRONG,leztaolF
Clamperl,Water,366,NaN,345,35,64,85,74,55,32,3,False,WEAK,lrepmalC
Chinchou,Water,170,Electric,330,75,38,38,56,56,67,2,False,WEAK,uohcnihC

In [338]:
pokemon_test.index.str[:5]

Index(['Sewad', 'Spina', 'Ledia', 'Ninca', 'Ledyb', 'Leava', 'Venip', 'Whirl',
       'Scoli', 'Vespi',
       ...
       'Lumin', 'Finne', 'Manti', 'Kingd', 'Suicu', 'Gastr', 'Shell', 'Float',
       'Clamp', 'Chinc'],
      dtype='object', name='Name', length=800)

In [339]:
pokemon_test.index=pokemon_test.index.str[:5]
pokemon_test

,TYPE 1,#,TYPE 2,TOTAL,HP,ATTACK,DEFENSE,SP. ATK,SP. DEF,SPEED,GENERATION,LEGENDARY,STRENGTH,REVERSED
Name,,,,,,,,,,,,,,
Sewad,Bug,540,Grass,310,45,53,70,40,60,42,5,False,WEAK,elddaweS
Spina,Bug,167,Poison,250,40,60,40,40,40,30,2,False,WEAK,karanipS
Ledia,Bug,166,Flying,390,55,35,50,55,110,85,2,False,WEAK,naideL
Ninca,Bug,290,Ground,266,31,45,90,30,30,40,3,False,WEAK,adacniN
Ledyb,Bug,165,Flying,265,40,20,30,40,80,55,2,False,WEAK,abydeL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Gastr,Water,423,Ground,475,111,83,68,92,82,39,4,False,WEAK,nodortsaG
Shell,Water,422,NaN,325,76,48,48,57,62,34,4,False,WEAK,sollehS
Float,Water,419,NaN,495,85,105,55,85,50,115,4,False,STRONG,leztaolF
Clamp,Water,366,NaN,345,35,64,85,74,55,32,3,False,WEAK,lrepmalC
Chinc,Water,170,Electric,330,75,38,38,56,56,67,2,False,WEAK,uohcnihC